/* This is PT Serif Fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

.sc-fs-pt-serif {
  font-family: "PT Serif", serif;
}

/* This is Junge Fonts */
@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");

.sc-fs-junge {
  font-family: "Junge", cursive;
}

/* This is Playfair Display Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

.sc-playfair-display {
  font-family: "Lora", serif;
}

/* Heading */
h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Serif", serif;
}

/* Span */
span {
  font-family: "Lora", serif;
}
